.container{
    width: 15rem;
    margin: 0 0.2rem;
    float: left;
  
}

.pic img{
    width: 100%;
}

.title{
    font-weight: bold;
    margin-bottom: 1em;
}

.channel, .views{
    font-size: large;
    color: #ccc;
    margin-bottom: 0.2rem;
}

.views span{
    padding: 0 0.5em;
}